*{

    color: blue;
    
    font-size: 12px;
    
}

ul{

        border: 1px solid #ccc;
        
        font-size: 12px;
        
    }
#header{

        border: 1px solid #ccc;
        
        font-size: 12px;
        
    }
container{

        margin: 0 auto;
        
        width: 1200px;
        
    }